.login{
    padding: 50px 0 ;
    background: RGB(251,249,249) ;
    .login-cont{
        width: 70% ;
        margin: 0px auto ;
        form{
            width: 100% ;
            textarea , .oo , .cc ,input , button{
                height: auto ;
                line-height: normal ;
                text-align: right !important ;
                color: $fontColor !important;
                width: 100% ;
                margin: 15px 0 !important;
                background: #fff !important;
                border: 1px solid RGB(235,235,235) !important ;
                padding: 20px 10px !important;
                outline: none !important;
                .list{
                    li{
                        text-align: right ;
                        font-size: 14px ;
                    }
                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    font-size: 14px ;
                    color: $fontColor ;
                  }
                  &::-moz-placeholder { 
                    font-size: 14px ;
                    color:  $fontColor ;
                  }
                  &:-ms-input-placeholder { 
                    font-size: 14px ;
                    color:  $fontColor ;
                  }
                  &:-moz-placeholder { 
                    font-size: 14px ;
                    color: $fontColor ;
                  }
            }
            .packet{
                width: 100% ;
                text-align: right ;
                color: RGB(136,136,136) ;
                .value{
                    display: inline-block ;
                    padding-right: 10px ;
                }
            }
            .label-price{
                font-size: 14px ;
                color: $mainColor ;
                text-align: right ;
                display: inline-block ;
                width: 100% ;
            }
            textarea{
                height: 150px ;
            }
            #price-ryal , #price-dolar{
                width: 40% !important;
            }
            .recover{
                display: inline-block ;
                width: 18.8% ;
                position: relative;
                top: 3px ;
                img{
                    width: 25% ;
                }
            }
            .choose-location{
                text-align: right !important;
                display: inline-block ;
                width: 49.7% ;
            }
            .oo , .cc , .pass-inp{
                width: 99% !important;
                clear: none ;
            }
            .che-remm{
                text-align: right !important ;
                label{
                    position: relative;
                    right: 5px ;
                    color: $fontColor ;
                    top: -5px ;
                }
                .check{
                    padding: 0 !important;
                    display: inline-block !important;
                    margin: 0px !important;
                    position: relative !important;
                    width: 35px !important;
                    height: 20px !important;
                    -webkit-appearance: none;
                }
                .check1{
                background: $mainColor !important;
                outline: none !important;
                border-radius: 60px !important;
                box-shadow: inset 0 0 5px rgba(0,0,0,.2) !important;
                transition: .5s !important;
                }
                
                .check1:checked{
                background: gray !important;
                }
                
                .check1:before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 60px;
                top: 1px;
                left: 0;
                transform: scale(1.1);
                box-shadow: 0 2px 15px rgba(0,0,0,.2);
                background: #fff;
                transition: .5s;
                }
                
                .check1:checked:before{
                left: 50%;
                }
            }
            .cont-image {
                border: 1px solid RGB(225, 225, 225); 
                display: block ;
                background: #fff ;
                width: 100% ;
                position: relative ;
                text-align: center ;
                top: 0 ;
                height: 160px  ;
                .colse-img-now{
                    position: absolute ;
                    top: 5px ;
                    left: 5px ;
                    color: $mainColor ;
                    cursor: pointer ;
                    display: none ;
                    z-index: 5555;
                }
                img{
                    position: absolute;
                    top: 0 ;
                    left: 0;
                    width: 100% ;
                    height: 100% ;
                    object-fit: contain ;
                    display: none ;
                    z-index: 3;
                }
                input{
                    display: none;
                }
                small{
                    position: relative; 
                    top: 35% ;
                    color: RGB(114, 114, 112) ;
                }
                span{
                    position: absolute ;
                    display: block ;
                    background: $mainColor ;
                    width: 100% ;
                    z-index: 8;
                    height: 30px;
                    line-height: 35px ;
                    cursor: pointer;
                    text-align: center ;
                    left: 0;
                    bottom: 0;
                    i{
                        color: #fff ;
                    }
                }
            }
            button{
                background: $mainColor !important;
                color: #fff !important;
                cursor: pointer;
                border: none ;
                text-align: center !important ;
                font-size: 16px !important;
            }
            .forget-pass{
                color: $fontColor ;
                display: block ;
                transition: all .3s ease-in-out ;
                &:hover{
                    color: $mainColor ;
                }
            }
            .create-acc{
                display: block ;
                color: $mainColor ;
                margin: 10px 0 ;
            }
            .already{
                color: $fontColor ;
                display: inline-block ;
                margin: 10px 0 30px 5px  ;
            }
            .s-acc{
                color: $mainColor ;
            }
            .socail{
                span:first-of-type{
                    color: $fontColor ;
                    display: inline-block ;
                    margin-left: 15px ;
                }
                .socail-icons{
                    width: 30px; 
                    height: 30px ;
                    border-radius: 50% ;
                    line-height: 35px ;
                    display: inline-block ;
                    margin: 0 5px ;
                    text-align: center ;
                    color: #fff ;
                }
                .google-icon{
                    background: RGB(237,28,36) ;
                }
                .face-icon{
                    background: RGB(59,89,152) ;
                }
            }
        }
    }
}
/*** Start Media Queries ***/
@media only screen and (max-width: 479px){
    .login{
        padding: 20px 0 ;
        .login-cont{
            width: 100% ;
            form{
                textarea , .oo , .cc ,input , button{
                    margin: 4px 0 !important;
                    padding: 7px 5px !important;
                    font-size: 12px ;
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        font-size: 12px ;
                    }
                    &::-moz-placeholder { 
                        font-size: 12px ;
                    }
                    &:-ms-input-placeholder { 
                        font-size: 12px ;
                    }
                    &:-moz-placeholder { 
                        font-size: 12px ;
                    }
                    .current{
                        font-size: 12px ;
                    }
                    .list{
                        li{
                            text-align: right ;
                            font-size: 11px ;
                        }
                    }
                }
                textarea {
                    height: 90px;
                }
                .che-remm{
                    margin-top: 4px ;
                    label{
                        font-size: 13px ;
                    }
                }
                .recover {
                    width: 17%;
                    img{
                        width: 30%;
                    }
                }
                .packet{
                    span{
                        font-size: 12px ;
                    }
                    .value{
                        font-size: 12px ;
                        padding-right: 4px ;
                    }
                }
                button{
                    font-size: 13px !important;
                }
                .already{
                    font-size: 12px ;
                    margin: 0px 0 10px 5px  ;
                }
                .forget-pass , .create-acc{
                    font-size: 12px ;
                }
                .create-acc{
                    margin: 3px 0 ;
                }
                .socail{
                    span{
                        font-size: 12px ;
                    }
                    .socail-icons{
                        width: 25px ;
                        height: 25px;
                        line-height: 30px ;
                        margin: 0 2.5px ;
                        i{
                            font-size: 15px ;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .login{
        padding: 20px 0 ;
        .login-cont{
            width: 100% ;
            form{
                textarea , .oo , .cc ,input , button{
                    margin: 4px 0 !important;
                    padding: 7px 5px !important;
                    font-size: 13px ;
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        font-size: 13px ;
                    }
                    &::-moz-placeholder { 
                        font-size: 13px ;
                    }
                    &:-ms-input-placeholder { 
                        font-size: 13px ;
                    }
                    &:-moz-placeholder { 
                        font-size: 13px ;
                    }
                    .current{
                        font-size: 13px ;
                    }
                    .list{
                        li{
                            text-align: right ;
                            font-size: 12px ;
                        }
                    }
                }
                textarea {
                    height: 100px;
                }
                .che-remm{
                    margin-top: 4px ;
                    label{
                        font-size: 13px ;
                    }
                }
                .recover {
                    width: 18%;
                    img{
                        width: 30%;
                    }
                }
                .packet{
                    span{
                        font-size: 13px ;
                    }
                    .value{
                        font-size: 13px ;
                        padding-right: 6px ;
                    }
                }
                button{
                    font-size: 14px !important;
                }
                .already{
                    font-size: 13px ;
                    margin: 0px 0 10px 5px  ;
                }
                .forget-pass , .create-acc{
                    font-size: 13px ;
                }
                .create-acc{
                    margin: 5px 0 ;
                }
                .socail{
                    span{
                        font-size: 13px ;
                    }
                    .socail-icons{
                        width: 25px ;
                        height: 25px;
                        line-height: 30px ;
                        margin: 0 2.5px ;
                        i{
                            font-size: 15px ;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .login{
        padding: 30px 0 ;
        .login-cont{
            width: 90% ;
            form{
                textarea , .oo , .cc ,input , button{
                    margin: 10px 0 !important;
                    padding: 10px 7px !important;
                    font-size: 14px ;
                    .current{
                        font-size: 14px ;
                    }
                    .list{
                        li{
                            text-align: right ;
                            font-size: 13px ;
                        }
                    }
                }
                .packet{
                    span{
                        font-size: 14px ;
                    }
                    .value{
                        font-size: 14px ;
                        padding-right: 8px ;
                    }
                }
                .che-remm{
                    margin-top: 10px ;
                }
                button{
                    font-size: 15px !important;
                }
                .already{
                    font-size: 14px ;
                    margin: 0px 0 20px 5px  ;
                }
                .forget-pass , .create-acc{
                    font-size: 14px ;
                }
                .create-acc{
                    margin: 7px 0 ;
                }
                .socail{
                    span{
                        font-size: 14px ;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .login{
        padding: 40px 0 ;
        .login-cont{
            width: 80% ;
            form{
                textarea , .oo , .cc ,input , button{
                    margin: 12px 0 !important;
                    padding: 20px 10px !important;
                }
                .che-remm{
                    margin-top: 12px ;
                }
            }
        }
    }
}
/*** End Media Queries ***/